name: Cypress Automation Tests
on:
  workflow_dispatch:
jobs:
  job1:
    name: cypress-run
    runs-on: ubuntu-latest
    strategy:
            fail-fast: false
            matrix:
             containers: [ 0,1 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Packages
        run: npm install
      - name: Run Tests
        run: npx cypress run --config-file test.config.js --spec $(node cypress-parallel.js ${{ matrix.containers }} 2) || npm run pretest || npm run test 
        continue-on-error: true
  job2:
    name: reports
    if: always ()
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: Deploy report page to GitHub Page
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: mochawesome-report
